.showBookProperties {
    transition: 0.1s;
    display: flex;
    position: absolute;
    top: 80px;
    left: 23%;
    flex-direction: column;
    width: 800px;
    background: rgb(255,194,157);
    background: linear-gradient(90deg, rgba(255,194,157,1) 0%, rgba(255,148,85,0.9417016806722689) 52%, rgba(231,203,94,1) 100%);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    z-index: 801;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.showBookProperties p {
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    bottom: 0;
    transition: 0.1s;
}

.showBookProperties p:hover {
    bottom: 5px;
}

#updateBookTitle {
    font-size: 20px;
    font-weight: bold;
}

.topCard {
    display: flex;
}

.topCard .close {
    position: absolute;
    bottom: 93%;
    left: 90%;
    top: 3%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s;
}

.topCard .close:hover {
    bottom: 100%;
}

label {
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.topCard .edit {
    position: absolute;
    bottom: 93%;
    transition: 0.1s;
    left: 83%;
    top: 3%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.topCard .edit:hover {
    bottom: 100%;
}

.topCard .favorites {
    position: absolute;
    bottom: 93%;
    transition: 0.1s;
    left: 76%;
    top: 3%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.topCard .favorites:hover {
    bottom: 100%;
}

#updateBookForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#updateBookForm input {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: 0;
    transition: 0.1s;
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#updateBookForm input:hover {
    bottom: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button-group {
    display: flex;
    gap: 20px;
    margin-block: 20px;
}

.button-group .save, .button-group .delete {
    position: relative;
    bottom: 0;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-group .save:hover, .button-group .delete:hover {
  background-position: right center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  bottom: 5px;
  color: #fff;
  text-decoration: none;
}

.button-group .save:active, .button-group .delete:active {
  transform: scale(0.95);
}

.topCard .fav {
    position: absolute;
    bottom: 93%;
    transition: 0.1s;
    left: 83%;
    top: 3%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 1160px) {
    .showBookProperties {
        width: 400px;
    }
    #updateBookForm input {
        width: 350px;
    }
    .topCard .close {
        left: 85%;
    }
    .topCard .edit {
        left: 76%;
    }
    .topCard .favorites {
        left: 67%;
    }
}

@media only screen and (max-width: 620px) {
    .showBookProperties {
        width: 350px;
        left: 12%;
    }
    #updateBookForm input {
        width: 300px;
    }
    .topCard .close {
        left: 85%;
    }
    .topCard .edit {
        left: 76%;
    }
    .topCard .favorites {
        left: 67%;
    }
}